<div class="section about-me">
  <h2>ABOUT ME</h2>
  <p>
    Hola, Soy José Antonio 👋<br />
    Desde pequeño me apasionaba el mundo de la informática y ahora puedo trabajar de lo que disfruto 🙌<br />
    Tengo experiencia construyendo Web y Aplicaciones con JavaScript / React / PHP y algunas otras bibliotecas y frameworks.
  </p>
</div>

<style>
  .about-me {
    margin-bottom: 2rem;
  }
  h2 {
    color: #e1bc26;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
  }
</style>
